
.container {
    width: 100%;
    height: 10%;
    background-color: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .footer {
    width: 80%;
    height: 70%;
    border-radius: 100px;
    background-image: linear-gradient(to right, var(--primary), var(--quinary));
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container .footer .footerLeft {
    width: 20%;
    margin-left: 35px;
  }
  
  .container .footer .footerLeft a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container .footer .footerLeft svg {
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
  
  .container .footer .footerLeft p {
    font-weight: var(--font-w-black);
    font-size: var(--font-size-7);
  }
  
  .container .footer .footerRight {
    width: 20%;
    margin-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container .footer .footerMiddle a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container .footer .footerMiddle svg {
    position: relative;
    top: -2px;
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
  
  .container .footer .footerMiddle p {
    font-weight: var(--font-w-black);
    font-size: var(--font-size-7);
  }
  
  .container .footer .footerRight a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .container .footer .footerRight svg {
    position: relative;
    top: -2px;
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
  
  .container .footer .footerRight p {
    font-weight: var(--font-w-black);
    font-size: var(--font-size-7);
  }