@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
	--font-1: Spartan, sans-serif;
	--font-2: Ubuntu, Roboto, sans-serif;
	--font-3: Ubuntu Mono, Roboto Mono, monospace;

	--color-1: #00fff0;
	--color-1-00: #00fff000;
	--color-1-80: #00fff090;
	--color-2: #fff;
	--color-3: #000;
	--color-4: #F6F6F6;
	--color-5: #e2e2e2;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: var(--font-2);
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-family: var(--font-2);
	font-weight: 200px;
}

h1 {
	font-family: var(--font-1);
	font-weight: 900;
}

* {
	box-sizing: border-box;
}

@keyframes pop-out {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pop-in {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}
