.container {
	width: 100%;
	height: 15%;
	background-color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	width: 80%;
	height: 60%;
	border-radius: 100px;
	background-color: var(--primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navLeft {
	width: 20%;
	margin-left: 35px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navLeft h1 {
	margin-left: 15px;
}

.navLeft svg {
	position: relative;
	top: -5px;
	width: 36px;
}

.navMiddle {
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navMiddle a {
	margin: 0px 3%;
	font-size: var(--font-size-7);
	font-weight: var(--font-w-bold);
}

.navRight {
	margin-right: 60px;
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navRight .button {
	margin-left: 10px;
	border: 0px;
	border-radius: 60px;
	padding: 15px 30px;
	background-color: var(--dark);
	color: var(--primary);
	font-size: var(--font-size-7);
	font-weight: var(--font-w-bold);
}
