@import "animations.css";

.container {
	height: 10vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	width: 70%;
	height: 80%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left  {
	width: 50%;
	display: flex;
}

.left .mainLeft {
	display: flex;
	align-items: center;
	border-radius: 20px;
	padding: 0px 10px;
}

.left .mainLeft:hover {
	animation: pop-out 0.3s;
	background: var(--color-4);
}

.left .mainLeft:active {
	animation: pop-in 0.3s;
	background: var(--color-5);
}

.mainLeft,
.left .logo,
.left .title {
	cursor: pointer;
	user-select: none;
}

.left .logo {
	position: relative;
	top: -2px;
	width: 24px;
	height: 24px;
	margin-right: 10px;
}

.left .logo .ghostBody {
	fill: var(--color-3);
}

.left .logo .ghostEye {
	stroke: var(--color-2);
}

.left .title {
	font-weight: 900;
	font-size: 24px;
	font-family: var(--font-1);
	color: var(--color-3);
}

.right {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.right a {
	padding: 10px 15px;
	border-radius: 100px;
	font-family: var(--font-1);
	font-weight: 700;
	font-size: 16px;
	margin-left: 2%;
}

.right a:hover, .right a:focus{
	animation: pop-out 0.3s both;
	background-color: var(--color-4);
}

.right a:focus {
	outline: none;
	/* box-shadow: 0px 0px 0px 7px var(--color-1); */
}

.right a:active {
	animation: pop-in 0.3s both;
	background-color: var(--color-5);
}

.current {
	font-weight: 900 !important;
}


@keyframes pop-out {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes pop-in {
	0% {
		transform: scale(1);
	}
	30% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(1);
	}
}
